doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p
      block heading
    block content
