extends layout

block heading
  | Your current rendering preference is <em>!{renderingPreference}</em>

block content
  p
    form(action='/survey/setpreferences', method='POST')
      input(type='hidden', name='currentQuestionIndex', value=currentQuestionIndex)
      input(type='radio', name='preference', value='horizontal', checked=(renderingPreference === 'horizontal'))
      | Horizontal
      br
      input(type='radio', name='preference', value='vertical', checked=(renderingPreference === 'vertical'))
      | Vertical
      br
      button(type='submit' name='submit' value='OK') OK